body {
    font-family: 'Inter', sans-serif;
    color: white;
    background: #03001e;
    background: -webkit-linear-gradient(
        to bottom right,
        #01000b,
        #06022d,
        #080338,
        #06022d,
        #01000b
    ) !important;
    background: linear-gradient(
        to bottom right,
        #01000b,
        #06022d,
        #080338,
        #06022d,
        #01000b
    ) !important;
}
